    <div class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a href="../" class="navbar-brand">Our Routes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">            
            <li class="nav-item">
              <a routerLink="about">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="services">Services</a>
            </li>               
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    